USE [master]
GO
/****** Object:  Database [Asgard]    Script Date: 7/29/2019 4:10:43 AM ******/
CREATE DATABASE [Asgard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asgard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\asgard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'asgard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\asgard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asgard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asgard]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 7/29/2019 4:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[ID] [int] NOT NULL,
	[Image] [varchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[ABV] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Cerveza] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/29/2019 4:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserDNI] [int] NOT NULL,
	[Date] [nchar](10) NOT NULL,
	[Address] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/29/2019 4:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BeerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/29/2019 4:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[DNI] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Beer] ([ID], [Image], [Name], [Brand], [Type], [Country], [ABV], [Price]) VALUES (1, N'~/Content/BeersPic/BarleyWine.jpeg', N'Barley Wine', N'Antares', N'Bronze', N'Argentina', 10, 100)
INSERT [dbo].[Beer] ([ID], [Image], [Name], [Brand], [Type], [Country], [ABV], [Price]) VALUES (2, N'~/Content/BeersPic/CreamStout.png', N'Cream Stout', N'Antares', N'Dark', N'Argentina', 7, 100)
INSERT [dbo].[Beer] ([ID], [Image], [Name], [Brand], [Type], [Country], [ABV], [Price]) VALUES (3, N'~/Content/BeersPic/Kolsch.jpg', N'Kolsch', N'Antares', N'Gold', N'Argentina', 5, 100)
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [UserDNI], [Date], [Address]) VALUES (1, 95675394, N'17/07/2019', N'Deheza 8000                                                                                         ')
INSERT [dbo].[Order] ([ID], [UserDNI], [Date], [Address]) VALUES (13, 12345, N'25/06/2019', N'grdxjvboik                                                                                          ')
INSERT [dbo].[Order] ([ID], [UserDNI], [Date], [Address]) VALUES (15, 9876, N'25/06/2019', N'grdxjvboik                                                                                          ')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([ID], [OrderID], [BeerID], [Quantity]) VALUES (0, 1, 1, 35)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
INSERT [dbo].[User] ([DNI], [Name], [LastName], [Email]) VALUES (1234, N'Alma', N'Rosa', N'Alma@gmail.com')
INSERT [dbo].[User] ([DNI], [Name], [LastName], [Email]) VALUES (9876, N'Alma', N'Rosa', N'Alma@gmail.com')
INSERT [dbo].[User] ([DNI], [Name], [LastName], [Email]) VALUES (12345, N'Alma', N'Rosa', N'Alma@gmail.com')
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserDNI])
REFERENCES [dbo].[User] ([DNI])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Beer] FOREIGN KEY([BeerID])
REFERENCES [dbo].[Beer] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Beer]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
USE [master]
GO
