@model IEnumerable<Asgard.Models.Beer>
@{
    ViewBag.Title = "Home Page";
}


<section id="Home">
    <div class="container-fluid">
        <div class="row">
            <div class="header-page content">
                <h1 class="display-4 page-title">Asgard House</h1>     
                <div class="header-button">
                    <input type="button" value="Some text" onclick="@("window.location.href='" + @Url.Action("Order", "Orders") + "Create");" />
                </div>             
            </div>
        </div>
    </div>
</section>

<section id="OurBeers">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="beer-section">  
                <h1 class="display-4 page-title">Nuestras Cervezas</h1 >
                @Html.Partial("_ListBeer", Model)
            </div>
        </div>
    </div>
</section>
