@model IEnumerable<Asgard.Models.Beer>

@{
    ViewBag.Title = "Home Page";
}


<section id="Home">
    <div class="container-fluid">
        <div class="row">
            <div class="header-page content">
                <h1 class="display-4 page-title" style="color: #fff;">Asgard House</h1>
                <div class="header-button">
                    <button type="button" class="btn btn-outline-secondary">Order Now!</button>
                </div>
                <div class="home__numbers">
                    <div class="home__number">
                        <div>6</div>
                        <p>Countries</p>
                    </div>
                    <div class="home__number">
                        <div>8</div>
                        <p>Cities</p>
                    </div>
                    <div class="home__number">
                        <div>20</div>
                        <p>Franchises</p>
                    </div>
                </div>
                <div class="marquee"> <marquee bgcolor=" #b5af98" style="opacity: 0.68">she/he ask me for a proof of love and i gave her/him my beer</marquee></div>
               
            </div>
        </div>
    </div>
</section>

<section id="OurBeers">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="beer-section">
                <h1 class="display-4 page-title">Our Beers</h1>
                @Html.Partial("_ListBeer", Model)
            </div>
        </div>
    </div>
</section>









@*<div class="row">
        <div class="main-section">
        <h1 class="page-title-light">Asgard House</h1>
        <div>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
        </div>
        <div class="home-numbers">
            <div class="home-number">
                <div>14</div>
                <p>Ciudades</p>
            </div>
            <div class="home-number">
                <div>27</div>
                <p>Paises</p>
            </div>
            <div class="home-number">
                <div>10</div>
                <p>Locales</p>
            </div>
        </div>
    </div></div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">)/h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
