@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    visibility: hidden;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.page-title {
    padding: 25px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    text-align: center;
}

.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding: 5px;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    flex: 1 1 auto;
}

.header-page {
    background-image: url('../Content/Beer-Main.png');
    height: 600px;
    width: 100%;
    background-size: cover;
    -ms-align-content: inherit;
    -webkit-align-content: inherit;
}

.header-button {
    align-self: center;
    padding-top: 65px;
}

.beer-section {
    background-color: #fffcf4;
    height: 600px;
    width: 100%;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fffcf4;    
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -230px;
    }

    #sidebar .sidebar-header {
        margin: 25px 0px 0px 0px;
        text-align: center;
    }

    #sidebar ul.components {
        padding: 20px 0;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.7em;
        display: block;
        color: black;
    }

        #sidebar ul li a:hover {
            color: #2e2102;
            background: #fff;
        }

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    align-items: flex-start;
    align-content: flex-start;
    width: calc(100% - 230px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    .navbar-btn {
        visibility: visible;
        transition: visibility 0.3s;
    }

    .home__numbers {
        visibility: hidden;
    }

    .marquee {
        visibility: hidden;
    }

    #sidebar {
        margin-left: -230px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 230px);
        }

    #sidebarCollapse span {
        display: none;
    }
}


.navbar.logo-wrapeer {
    padding: 15px;
    display: block;
    width: 200px;
    height: 200px;
}

.navbar-logo {
    width: 157px;
    height: 94px;
    background: url('~/Content/Logo.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-secondary {
    color: #353637;
    border-color: #353637;
    background-color: #b5af98;
    display: block;
    max-width: 300px;
    margin: auto;
    font-size: 27px;
    opacity: 0.7;
}


.btn-outline-secondary:hover {
        background-color: #6c6654;
    }

.home__numbers {
    flex-direction: row-reverse;
    display: flex;
    padding: 50px;
    justify-content: center;
    text-shadow: 4px 6px 4px black;
    color: #eff1f4;
}

.home__number {
    justify-content: space-around;
    margin-left: 35px;
    margin-right: 35px;
    padding: 16px;
    text-align: center;
}
.home__number div {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
 }

.home__number p {
        font-family: 'Sacramento', cursive;
        font-size: 45px;
    }

.main-section {
    background-image: url('../Content/main.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    flex: 1;
}


