@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    visibility: hidden;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.page-title {
    padding: 15px;
    font-family: 'Asfalto';
    font-size: 60px;
    text-align: left;
    color: #333;
}

.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding: 5px;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    flex: 1 1 auto;
}

.header-page {
    background-image: url('../Content/main.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    justify-content: center;
}

.header-button {
    align-self: center;
    padding-top: 65px;
}

.beer-section {
    background-color: #fffcf4;
    height: 600px;
    width: 100%;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fffcf4;    
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -230px;
    }

    #sidebar .sidebar-header {
        margin: 25px 0px 0px 0px;
        text-align: center;
    }

    #sidebar ul.components {
        padding: 20px 0;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.7em;
        display: block;
        color: black;
    }

        #sidebar ul li a:hover {
            color: #2e2102;
            background: #fff;
        }

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 230px);  
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    .navbar-btn {
        visibility: visible;
        transition: visibility 0.3s;
    }

    #sidebar {
        margin-left: -230px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 230px);
        }

    #sidebarCollapse span {
        display: none;
    }
}


.navbar.logo-wrapeer {
    padding: 15px;
    display: block;
    width: 200px;
    height: 200px;
}

.navbar-logo {
    width: 157px;
    height: 94px;
    background: url('~/Content/Logo.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-secondary {
    color: #caa963;
    border-color: #caa963;
    display: block;
    max-width: 300px;
    margin: auto;
    
}

.home-numbers {
    flex-direction: row-reverse;
    display: flex;
    padding: 50px;
}

.home-number {
    justify-content: space-around; 
    margin-left: 35px;
    margin-right: 35px;
    padding: 16px;
    text-align: center;
}
.home-number div {
    font-family: 'Dead Kansas';
    font-size: 45px;
}   

.home-number p {
    font-family: 'Maven+Pro';
    font-size: 30px;
}

.main-section {
    background-image: url('../Content/main.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    flex: 1;
}


@media (max-width: 668px){
    .home-number {
       visibility: hidden;
    }
}