@import url("https://bootswatch.com/flatly/bootstrap.min.css");


.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.logo-wrapeer {
    padding: 15px;
    display: block;
    width: 200px;
    height: 200px;
    
}

.navbar-logo {
    width: 157px;
    height: 94px;
    background: url('~/Content/Logo.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orderbutton{

}

.home-numbers {
    flex-direction: row-reverse;
    display: flex;
    padding: 50px;
}

.home-number {
    justify-content: space-around; 
    margin-left: 35px;
    margin-right: 35px;
    padding: 16px;
    text-align: center;
}
.home-number div {
    font-family: 'Dead Kansas';
    font-size: 45px;
}   

.home-number p {
    font-family: 'Maven+Pro';
    font-size: 30px;
}

.footer {
    padding: 5px;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    flex: 1 1 auto;
}

.page-title {
    padding: 15px;
    font-family: 'Asfalto';
    font-size: 60px;
    text-align: center;
    color: #333;
}

.page-title-light {
    padding: 15px;
    font-family: 'Stencil';
    font-size: 60px;
    text-align: center;
    color: wheat;
}

.main-section {
    background-image: url('../Content/main.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    flex: 1;
}


@media (max-width: 668px){
    .home-number {
       visibility: hidden;
    }
}