@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.Mainmenu {
padding: 25px;
font-family: 'Fredericka the Great', cursive;
font-size: 80px;
}

.submenu {
    font-family: 'Sacramento', cursive;
    font-size: 45px;
    margin-left: 100px;
}

#mainbtn {
    font-size: 20px;
    background-color: #ffc44a;
}