<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/Home/Index#Home">
            <img src="~/Content/Logo.png" width="110" class="sidebar-logo" />
        </a>
    </div>
    <ul class="list-unstyled components text-center">
        <li>
            <a href="/Home/Index#Home">Home</a>
        </li>
        <li>
        <li>
            @Html.ActionLink("Orders", "Index", "Orders")
        </li>
        <li>
            <a href="/Home/Index#OurBeers">Our Beers</a>
        </li>
        <li>
            <hr />
        </li>
        <li>
            <a href="https://www.instagram.com/?hl=es-la">
                <img src="~/Content/SocalMedia/Twitter-512.png" width="45" />
            </a>
        </li>
        <li>
            <a href="https://twitter.com/">
                <img src="~/Content/SocalMedia/Instagram-512.png" width="45" />
            </a>
        </li>
    </ul>
</nav>

<nav class="navbar-expand-lg navbar-light bg-light fixed-top custom-navbar">    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li><a href="/Home/Index#Home">Home</a></li>           
            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
            <li><a href="/Home/Index#OurBeers">Our Beers</a></li>
        </ul>
    </div>
</nav>
